@media(max-width: 1080px){
  body{
    padding: 8px !important;
  }
  input{
    width: 100% !important;
  }
  .container{
    max-width: 100% !important;
  }
}
html, body{
  padding: 0px;
  margin: 0px;
}
body{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 100%;
  background: white;
  background-image: linear-gradient(#eee, white);
  background-repeat: repeat-x;
  height: 100vh;
}

h1, h2, h3, p, a{
  padding: 0px;
  margin: 0px;
  text-decoration: none;
  color: #333;
}
a:hover .artist-card p{
  color: rgb(230, 0, 0);
}
p{
  font-size: 14px;
}
img{
  object-fit: cover;
  filter: brightness(95%);
}
strong{
  font-weight: 500;
  font-size: 18px;
}
input, button{
  padding: 8px;
  font-size: large;
  width: 1080px;
  border: 1px solid #bbb;
  border-radius: 8px;
}
button{
  padding: 4px 0px;
  background: none;
  border: solid #666 1px;
  cursor: pointer;
  font-size: 14px;
  width: 120px;
  border-radius: 8px;
  color: rgb(230, 0, 0);
  border: rgb(230, 0, 0) 1px solid;
}
button:hover{
  background: rgb(230, 0, 0);
  color: white;
}
button:active{
  box-shadow: rgb(230, 0, 0) 1px 1px 5px;
}
header{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  width: 100%;
}
header a{
  padding: 0px;
  margin: 0px;
}
header a img{
  width: 72px;
  object-fit: contain;
}
select{
  box-sizing: border-box;
  padding: 8px;
  font-size: medium;
  border: 1px solid #bbb;
  border-radius: 8px;
}

#root{
  width: 100%;
  height: #eee;
  display: flex;
  justify-content: center;
  align-self: start;
  align-items: flex-start;
}
.container{
  width: 100%;
  max-width: 1080px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
  padding: 16px 0px;
}
.center{
  display: flex;
  justify-content: center;
}
.card-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}
.card{
  display: flex;
  flex-direction: row;
  width: 348px;
  align-items: center;
  gap: 16px;
  border-radius: 8px;
  padding: 0px 8px;
  background: white;
  box-sizing: border-box;
  box-shadow: #aaa 1px 1px 5px;
}
.card-expand{
  width: 100% !important;
}
.card-expand div p{
  width: 100% !important;
}
.card:hover{
  background: #ddd;
}
.card:active{
  transform: scale(0.95);
}
.card div p{
  width: 248px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.artists-list{
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.artist-card{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.chart{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.album{
  /* flex: 1 0 calc(20% - 20px); */
  width: 215px;
  height: 215px;
  background: #666;
  outline: 1px solid #333;
  padding: 8px;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-size: cover;
}
.album p{
  color: white;
  text-shadow: #333 1px 1px;
}
.album:hover{
  filter: brightness(80%);
}
.mute{
  color: #666 !important;
}
.nav-chart{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}